.oyat-button {
    margin: var(--oyat-margin);
    padding: var(--oyat-padding);
    border: 1px solid var(--oyat-border-color);
    background: var(--oyat-background-color);
    border-radius: var(--oyat-border-radius);
    cursor: pointer;
    user-select: none
}

.oyat-button .oyat-text {
    color: var(--oyat-active-color);
    font-weight: bold;
    line-height: var(--oyat-line-height);
    text-align: center
}

.oyat-button:hover {
    border: 1px solid rgb(91, 157, 191)
}

.oyat-button:hover .oyat-text {
    color: rgb(91, 157, 191)
}

.oyat-button.oyat-disabled {
    cursor: default;
    border-color: #BBBBBB
}

.oyat-button.oyat-disabled .oyat-text {
    color: #BBBBBB
}

.oyat-button.oyat-disabled:hover .oyat-text {
    color: #BBBBBB
}
