.oyat-calendar {
    margin: var(--oyat-margin);
    border: 1px solid var(--oyat-border-color);
    background: var(--oyat-background-color);
    border-radius: var(--oyat-border-radius);
    width: 200px;
}

.oyat-calendar .oyat-year,
.oyat-calendar .oyat-month,
.oyat-calendar .oyat-days {
    width: 200px;
    line-height: 20px;
    border-bottom: 1px solid black;
    overflow: auto;
    cursor: default
}

.oyat-calendar .oyat-text {
    flex: 1;
    text-align: center;
}

.oyat-calendar .oyat-year,
.oyat-calendar .oyat-month {
    display: flex;
}

.oyat-calendar .oyat-previous,
.oyat-calendar .oyat-next {
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.oyat-calendar .oyat-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.oyat-calendar .oyat-days DIV {
    text-align: center;
}

.oyat-calendar .oyat-boxes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.oyat-calendar .oyat-boxes DIV {
    line-height: 20px;
    text-align: center
}

.oyat-calendar .oyat-clickable:hover {
    background: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    cursor: pointer
}
