.oyat-calendar {
    width: 140px;
    border: 1px solid black;
    background: rgb(90, 90, 90)
}

.oyat-calendar .oyat-calendarTop,
.oyat-calendar .oyat-calendarArrows,
.oyat-calendar .oyat-calendarDays {
    width: 140px;
    height: 18px;
    border-bottom: 1px solid black;
    overflow: auto;
    cursor: default
}

.oyat-calendar .oyat-calendarDays DIV {
    text-align: center
}

.oyat-calendar .oyat-calendarTitle {
    float: left;
    width: 115px;
    padding: 1px 2px 2px;
    font-weight: bold;
    height: 15px;
    border-right: 1px solid black;
    background: rgb(90, 90, 90);
    color: rgb(255, 255, 255)
}

.oyat-calendar .oyat-calendarClose {
    float: left;
    width: 20px;
    height: 18px;
    cursor: pointer
}

.oyat-calendar .oyat-calendarClose:hover {
    background: #707070
}

.oyat-calendar .oyat-calendarArrows DIV {
    float: left;
    width: 35px;
    height: 18px;
    text-align: center;
    cursor: pointer
}

.oyat-calendar .oyat-calendarArrows DIV:hover {
    background: #707070;
    color: rgb(255, 255, 255)
}

.oyat-calendar .oyat-calendarDays DIV {
    float: left;
    width: 20px;
    height: 18px;
    overflow: hidden
}

.oyat-calendar .oyat-calendarBoxes {
    width: 140px;
    overflow: auto
}

.oyat-calendar .oyat-calendarBoxes DIV {
    float: left;
    width: 20px;
    padding: 4px 0px;
    height: 12px;
    line-height: 12px;
    text-align: center
}

.oyat-calendar .oyat-calendarBoxes DIV.oyat-calendarClickable:hover {
    background: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    cursor: pointer
}
