.oyat-checkbox {
    position: relative;
    overflow: auto;
    padding: 3px 3px 3px 22px;
    margin: 3px;
    height: 22px
}

.oyat-checkbox .oyat-input {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 16px;
    border: 1px solid rgb(0, 83, 134);
    background: #FFFFFF;
    width: 16px
}

.oyat-checkbox .oyat-input.oyat-checked {
    background: rgb(0, 83, 134);
    background-image: radial-gradient(circle, rgb(0, 83, 134), rgb(0, 83, 134) 50%, rgb(255, 255, 255) 60%)
}

.oyat-checkbox .oyat-text {
    line-height: 16px
}
