.oyat-datefield {
    margin: var(--oyat-margin);
    border: 1px solid var(--oyat-border-color);
    background: var(--oyat-background-color);
    border-radius: var(--oyat-border-radius);
    display: flex;
    overflow: hidden;
}

.oyat-datefield .oyat-field {
    background: var(--oyat-background-color);
}

.oyat-datefield .oyat-input INPUT {
    border: 0;
    flex: 1;
    padding: var(--oyat-padding);
    line-height: var(--oyat-line-height);
    height: calc(var(--oyat-line-height) + 2* var(--oyat-padding));
}

.oyat-datefield-button {
    padding: 0;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid var(--oyat-border-color);
}
