.oyat-filefield {
    position: relative;
    margin: var(--oyat-margin);
    border: 1px solid var(--oyat-border-color);
    border-radius: var(--oyat-border-radius);
    background: var(--oyat-background-color);
    overflow: hidden;
    height: 28px;
    width: 200px;
}

.oyat-filefield INPUT {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 2000px;
    opacity: 0;
    cursor: pointer
}

.oyat-filefield .oyat-over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: var(--oyat-padding);
    color: var(--oyat-active-color);
}
