.oyat-gridview {
    width: 100%
}

.oyat-gridview .oyat-body {
    overflow: auto
}

.oyat-gridview .oyat-header,
.oyat-gridview .oyat-row {
    overflow: hidden
}

.oyat-gridview .oyat-row.oyat-odd {
    background: #F3F3F3
}

.oyat-gridview .oyat-row.oyat-even {
    background: #FAFAFA
}

.oyat-gridview .oyat-row:hover {
    cursor: pointer;
    background: #E0E0E0
}

.oyat-gridviewContent {
    border: 1px solid rgb(90, 90, 90)
}

.oyat-gridviewTable {
    width: 100%
}

.oyat-gridview .oyat-cell {
    float: left
}

.oyat-gridview .oyat-header {
    cursor: default
}

.oyat-gridview .oyat-header .oyat-cell {
    border-bottom: 1px solid rgb(90, 90, 90)
}

.oyat-gridview .oyat-header .oyat-cell .oyat-sort {
    display: inline-block;
    color: rgb(90, 90, 90);
    text-align: left;
    padding: 4px 4px 4px 4px;
    cursor: pointer
}

.oyat-gridview .oyat-header .oyat-cell .oyat-wrapper {
    display: inline-block;
    color: rgb(90, 90, 90);
    text-align: left;
    padding: 4px 4px 4px 13px
}

.oyat-gridview .oyat-cell .oyat-wrapper {
    padding: 3px
}

.oyat-gridview>.oyat-toolbar {
    height: 30px;
    overflow: hidden;
    background: #CDCDCD
}

.oyat-gridview>.oyat-toolbar .oyat-search {
    float: left;
    margin: 3px;
    padding: 3px;
    height: 24px;
    overflow: hidden;
    border: 1px solid rgb(0, 83, 134);
    background: rgb(255, 255, 255)
}

.oyat-gridview>.oyat-toolbar .oyat-search INPUT {
    height: 18px;
    line-height: 18px
}

.oyat-gridview>.oyat-toolbar .oyat-legend {
    float: left;
    margin: 3px;
    padding: 3px
}

.oyat-gridview>.oyat-toolbar .oyat-pager {
    height: 24px;
    overflow: hidden
}

.oyat-gridview>.oyat-toolbar .oyat-pager .oyat-arrow {
    float: left;
    width: 12px;
    margin: 3px;
    text-align: center;
    font-weight: bold;
    cursor: pointer
}

.oyat-gridview>.oyat-toolbar .oyat-pager .oyat-arrow:hover {
    color: rgb(0, 83, 134)
}

.oyat-gridview>.oyat-toolbar .oyat-pager .oyat-page {
    float: left;
    margin: 5px
}


