.oyat-textarea {
    margin: var(--oyat-margin);
    border: 1px solid var(--oyat-border-color);
    background: var(--oyat-background-color);
    border-radius: var(--oyat-border-radius);
    padding: var(--oyat-padding);
}

.oyat-textarea TEXTAREA {
    border-radius: var(--oyat-border-radius);
    width: 100%;
    resize: vertical
}
