.oyat-textfield {
    margin: var(--oyat-margin);
    border: 1px solid var(--oyat-border-color);
    background: var(--oyat-background-color);
    border-radius: var(--oyat-border-radius);
    overflow: hidden;
}

.oyat-textfield INPUT {
    padding: var(--oyat-padding);
    width: 100%;
    line-height: var(--oyat-line-height);
    height: calc(var(--oyat-line-height) + 2* var(--oyat-padding));
}
